.summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #ffffff;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
}

.summary-container .back {
  width: 100%;
  padding-left: 5em;
  padding-top: 2em;
  align-items: left;
  text-align: left;
  text-decoration: none;
}

.summary-container a,
.summary-container a:visited,
.summary-title {
  text-decoration: none;
  color: black;
  font: 1.3rem "Futura";
  line-height: 150%;
}

.summary-container a:hover {
  border-bottom: 1px solid;
}

.summary-header {
  flex-direction: row;
  flex: 1 1;
}

.summary {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font: 1em "Futura";
}

.summary .left {
  text-align: left;
}

.summary .right {
  text-align: right;
}
