@media screen and (max-width: 768px) {
  .summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    min-height: 100vh;
    width: 95%;
    margin: 0 auto 2rem;
  }

  .summary-container .back {
    width: 100%;
    padding-left: 5em;
    padding-top: 2em;
    align-items: left;
    text-align: left;
    text-decoration: none;
  }

  .summary-container a,
  .summary-container a:visited {
    text-decoration: none;
    color: black;
    font: 0.9rem "Futura";
  }

  .summary-container a:hover {
    border-bottom: 1px solid;
  }

  .summary-title {
    width: 100%;
    font: 1rem "Futura";
  }

  .summary-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin: 1rem auto 0;
  }
  
  .center-loading {
    text-align: center;
    margin: .5rem auto;
  }

  .summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    font: 1em "Futura";
  }

  .category {
    display: flex;
    flex-direction: column;
    font: 1em "Futura";
  }
  
  .summary-content {
    margin: 0 auto;
    width: 90%;
  }
  
  .summary-content-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  
  .t {
    display: grid;
    justify-content: start;
  }
  
  .y {
    display: grid;
    justify-content: end;
  }
  
  
  .summary-content-text p:nth-child(1) {
    justify-self: start;
    text-align: left;
  }
  
  .summary-content-text p:nth-child(2) {
    justify-self: end;
    text-align: right;
  }
  
  .sub-summary {
    width: 90%;
    color: gray;
    margin: 0 auto;
    font-size: .8rem;
  }
  
  .sub-summary-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .summary-title {
    font: 1rem "Futura";
  }
}

@media screen and (min-width: 768px) {
  .summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #ffffff;
    min-height: 100vh;
    width: 50%;
    margin: 2rem auto;
  }

  .summary-container .back {
    width: 90%;
    padding-left: 2em;
    padding-top: 1em;
    align-items: left;
    text-align: left;
    text-decoration: none;
  }

  .summary-container a,
  .summary-container a:visited {
    text-decoration: none;
    color: black;
    font: 1rem "Futura";
  }

  .summary-title {
    font: 1rem "Futura";
  }

  .summary-container a:hover {
    border-bottom: 1px solid;
  }

  .summary-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .summary {
    width: 70%;
    display: grid;
    font: 1em "Futura";
    margin: 0 0 5rem 0;
  }

  /*.summary-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }*/

  .summary-header h4:nth-child(2) {
    text-align: right;
  }

  .summary-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .summary-content-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    text-align: left;
  }

  .summary-content-text p:nth-child(2) {
    text-align: right;
  }

  .sub-summary-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0.5rem auto;
    align-content: center;
    text-align: left;
    color: gray;
  }

  .sub-summary-content p:nth-child(2) {
    text-align: right;
  }

  .summary-content p {
    height: 0.3rem;
  }

  .summary .left {
    text-align: left;
  }

  .summary .right {
    text-align: right;
  }

  .category {
    display: flex;
    flex-direction: column;
    font: 1em "Futura";
  }
}
