.auth-container {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 17%);
  border-top: 4px solid green;
  border-radius: .5rem;
  width: 60%;
  margin: 7rem auto 0;
  padding: 1rem 0;
}

.auth-container h4 {
  font: 40px "Futura";
}

.auth-container input {
  display: flex;
  flex-direction: column;
  width: 18em;
  padding: 15px 0px 15px 20px;
  margin: 20px;
  font: 20px "Futura";
  color: black;
  background-color: #f0f0f0;
  border: #f0f0f0 solid 1px;
  border-radius: 10px;
  /*box-shadow: 9px 9px 9px 0 rgba(0, 0, 0, 17%);*/
}

.auth-container input:focus:invalid {
  box-shadow: 0 0 9px 9px rgba(0, 0, 0, 17%);
  border: 1px solid red;
  
}

.auth-container button {
  width: 18em;
  padding: 15px 50px;
  font: 20px "Futura";
  color: #fff;
  background-color: #00a55a;
  border: #00a55a solid 1px;
  border-radius: 53px;
  box-shadow: 9px 9px 9px 0 rgba(0, 0, 0, 17%);
  margin-top: 40px;
  margin-bottom: 20px;
}

.auth-container button:hover {
  background-color: #00803c;
  border: #00803c solid 1px;
}

.auth-container p {
  font: 15px "Futura";
}

.auth-container a {
  font: 15px "Futura";
  color: #00803c;
  text-decoration: none;
}

.auth-container a:hover {
  color: black;
  text-decoration: none;
}

.spinner {
  padding: 0 .5rem 0 0;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    /*transform: rotate(0deg);*/
    transform: translateY(10px);
  }
  100% {
    /*transform: rotate(360deg);*/
    transform: translateY(-10px);
  }
}

@keyframes flipIn {
  0% {
    /*transform: rotate(0deg);*/
    transform: translateX(10px);
  }
  100% {
    /*transform: rotate(360deg);*/
    transform: translateY(0);
  }
}


@media screen and (max-width: 768px) {
  .auth-container {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 17%);
    border-top: 4px solid green;
    border-radius: .5rem;
    width: 90%;
    margin: 3rem auto;
    padding: 1rem 0;
  }
  .auth-container input {
    display: flex;
    flex-direction: column;
    width: 16em;
    padding: 15px 0px 15px 20px;
    margin: 20px;
    font: 15px "Futura";
    color: black;
    background-color: #f0f0f0;
    border: #f0f0f0 solid 1px;
  }
  
  .auth-container button {
    width: 14em;
    padding: 15px 50px;
    font: 20px "Futura";
    color: #fff;
    background-color: #00a55a;
    border: #00a55a solid 1px;
    border-radius: 53px;
    box-shadow: 9px 9px 9px 0 rgba(0, 0, 0, 17%);
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .auth-container p {
    font: 12px "Futura";
  }
  
  .auth-container a {
    font: 12px "Futura";
    color: #00803c;
    text-decoration: none;
  }
  
  .auth-container h4 {
    font: 20px "Futura";
  }
}