body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}

nav {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 0 1rem 0 0;
  background: white;
  height: 5rem;
  align-content: center;
  justify-content: center;
  /*border: 1px solid black;*/
}

.user__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 12rem;
  justify-self: end;
  grid-gap: .5rem;
  align-content: center;
  /*border: 1px solid black;*/
}

.user__name {
  border-radius: 1rem;
  padding: .5rem;
  width: 5rem;
  background: green;
}

.btn {
  border: none;
  background: none;
}

.btn__logout {
  box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 16%);
  background: white;
  font-weight: 700;
  border-radius: 1rem;
}

.brand {
  font: 25px "Arial-MTB";
  text-decoration: none;
  color: black;
}

.sidebar p {
  font-size: .5rem;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  nav {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0 1rem 0 .5rem;
    background: white;
    height: 4rem;
    align-content: center;
    justify-content: center;
    /*border: 1px solid black;*/
  }
  
  .user__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 10rem;
    justify-self: end;
    grid-gap: .5rem;
    align-content: center;
    /*border: 1px solid black;*/
  }
  
  .user__name {
    border-radius: 1rem;
    padding: .5rem;
    width: 4rem;
    background: green;
  }
  
  .btn {
    border: none;
    background: none;
  }
  
  .btn__logout {
    box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 16%);
    background: white;
    font-weight: 700;
    border-radius: 1rem;
  }
}